{% extends "base.html" %}

{% block title %}Add Trainee{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="mb-4 text-center">Add Trainee</h2>
      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="traineeName" class="form-label">Trainee Name</label>
          <input type="text" class="form-control" id="traineeName" name="name" placeholder="Enter trainee name" required>
        </div>

        <div class="mb-3">
          <label for="traineeEmail" class="form-label">Trainee Email</label>
          <input type="email" class="form-control" id="traineeEmail" name="traineeEmail" placeholder="Enter trainee Email" required>
        </div>

        <div class="mb-3">
          <label for="traineeImg" class="form-label">Trainee Image</label>
          <input type="file" class="form-control" id="traineeImg" name="traineeImg" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Add Trainee</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}